<header class="resume__header">
  <div class="col flex-center">
    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2431804042,2244417996&fm=58" alt="" class="photo">
  </div>
  <div class="col flex-center"></div>
  <div class="col flex-center"></div>
  <div class="col flex-center">
    <dl>
      <dt>联系方式：</dt>
      <dd>
        <svg class="icon icon_1_5" aria-hidden="true">
          <use xlink:href="#icon-dianhua"></use>
        </svg>
        {{iconfont.}}
        17782369765
      </dd>
      <dd>
        <i class="icon-email"></i>
      </dd>
      <dd></dd>
    </dl>
  </div>
</header>